<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head />
    <h:body>
        <h:form>
            <p:tabView>
                <p:tab title="Literaturverzeichnis">
                    <p:accordionPanel dynamic="true" cache="true" activeIndex="false">
                    <!--value="#{literaturverzeichnisView.professoren}"-->
                    <p:tab title="Prof Name 1">
                            <h:panelGrid columns="0" cellpadding="10">
                                <p:dataTable var="car" value="#{dtBasicView.cars}">
                                    <p:column headerText="Id">
                                        <h:outputText value="Hello Colum1" />
                                    </p:column>

                                    <p:column headerText="Year">
                                        <h:outputText value="Hello Colum2" />
                                    </p:column>

                                    <p:column headerText="Brand">
                                        <h:outputText value="Hello Colum3" />
                                    </p:column>

                                    <p:column headerText="Color">
                                        <h:outputText value="Hello Colum4" />
                                    </p:column>
                                </p:dataTable>
                            </h:panelGrid>
                        </p:tab>
                        <p:tab title="Prof Name 2">
                            <h:panelGrid columns="0" cellpadding="10">
                                <p:dataTable var="car" value="#{dtBasicView.cars}">
                                    <p:column headerText="Id">
                                        <h:outputText value="Hello Colum1" />
                                    </p:column>

                                    <p:column headerText="Year">
                                        <h:outputText value="Hello Colum2" />
                                    </p:column>

                                    <p:column headerText="Brand">
                                        <h:outputText value="Hello Colum3" />
                                    </p:column>

                                    <p:column headerText="Color">
                                        <h:outputText value="Hello Colum4" />
                                    </p:column>
                                </p:dataTable>
                            </h:panelGrid>
                        </p:tab>
                        <p:tab title="Prof Name 3">
                            <h:panelGrid columns="0" cellpadding="10">
                                <p:dataTable var="car" value="#{dtBasicView.cars}">
                                    <p:column headerText="Id">
                                        <h:outputText value="Hello Colum1" />
                                    </p:column>

                                    <p:column headerText="Year">
                                        <h:outputText value="Hello Colum2" />
                                    </p:column>

                                    <p:column headerText="Brand">
                                        <h:outputText value="Hello Colum3" />
                                    </p:column>

                                    <p:column headerText="Color">
                                        <h:outputText value="Hello Colum4" />
                                    </p:column>
                                </p:dataTable>
                            </h:panelGrid>
                        </p:tab>
                    </p:accordionPanel>
                </p:tab>
                <p:tab title="Upload Literaturverzeichnis">
                    <h:form id="formcontract" enctype="multipart/form-data">
                        <p:fileUpload
                                fileUploadListener="#{FileUploadView.handleFileUpload}"
                                mode="advanced" dragDropSupport="false" update="messages"
                                sizeLimit="100000" fileLimit="1" allowTypes="/(\.|\/)(bib)$/"
                                invalidFileMessage="Sie müssen eine .bib Datei hochladen" />
                        <p:growl id="messages" autoUpdate="true" showDetail="true" />
                    </h:form>
                </p:tab>
                <p:tab title="Eigenes Literaturverzeichnis bearbeiten">
                    <p:accordionPanel dynamic="true" cache="true">
                        <p:tab title="Prof Name 1">
                            <h:form>
                                <p:outputPanel id="books">
                                    <p:dataTable id="radioDT" var="car"
                                                 value="#{dtSelectionView.cars5}"
                                                 selection="#{dtSelectionView.selectedCar}" rowKey="#{car.id}">
                                        <p:column selectionMode="single"
                                                  style="width:16px;text-align:center" />
                                        <p:column headerText="Title">
                                            <h:outputText value="#{book.title}" />
                                        </p:column>

                                        <p:column headerText="Author">
                                            <f:facet name="header">
                                                <h:outputText value="Author" />
                                            </f:facet>
                                            <h:outputText value="#{book.author}" />
                                        </p:column>
                                    </p:dataTable>

                                </p:outputPanel>
                            </h:form>
                            <h:form>
                                <p:growl id="growl" life="2000" />

                                <p:commandButton value="Ajax Edit" id="ajax" update="growl" actionListener="#{FileUploadView.test}" styleClass="ui-priority-primary" />
                                <p:commandButton value="Ajax Remove" id="ajax2" update="growl" actionListener="#{buttonView.buttonAction}" styleClass="ui-priority-primary" />
                                <p:commandButton value="Ajax Submit" id="ajax3" update="growl" actionListener="#{buttonView.buttonAction}" styleClass="ui-priority-primary" />
                            </h:form>
                        </p:tab>
                    </p:accordionPanel>
                </p:tab>
            </p:tabView>
        </h:form>
    </h:body>
</f:view>